stages:
  #- code_quality
  - build
  - deploy-dev
  - deploy-prod
#sonarqube-analysis:
  #stage: code_quality
  #tags:
   # - Dryva-API-LoginMicroservice
  #script:
   # - mkdir -p coverage
   # - echo -e "TN:\nend_of_record" > coverage/lcov.info
  #  - /home/gitlab-runner/.sonar/sonar-scanner-6.2.0.4584-linux-x64/bin/sonar-scanner -Dsonar.projectKey=dryva-admin-UI -Dsonar.sources=. -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.qualitygate.wait=true -Dsonar.python.version=3.9
  #only:
   # - developer


build-job:
  tags:
    - urpiq-admin
  stage: build
  script:
    - echo "Hello v1.1, $GITLAB_USER_LOGIN!"
    - echo "Hello System-user, $USER"
    - sed -i 's/\r$//' deploy/build.sh
    - bash deploy/build.sh
  only:
    - developer
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - ${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}.tar.gz
    expire_in: 1 week


build-job-prod:
  tags:
   - FrontendadminpanelUAT
  stage: build
  script:
    - echo "Hello v1.1, $GITLAB_USER_LOGIN!"
    - echo "Hello System-user, $USER"
    - sed -i 's/\r$//' deploy/build-proddeploy.sh
    - bash deploy/build-proddeploy.sh
  only:
    - ProdRelease
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - ${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}.tar.gz
    expire_in: 1 week

deploy-job-dev:
  tags:
    - urpiq-admin
  stage: deploy-dev
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
    - sed -i 's/\r$//' deploy/deploy.sh
    - bash deploy/deploy.sh
  only:
    - developer


deploy-job-prod:
  tags:
    - FrontendadminpanelProd
  stage: deploy-prod
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
    - bash deploy/proddeploy.sh
  only:
    - ProdRelease