.PhoneInput {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px 8px;
  transition: border-color 0.2s;
}

.PhoneInput:hover {
  border-color: #1677ff;
}

.PhoneInput--focus {
  border-color: #1677ff;
}

.PhoneInputCountry {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #d9d9d9;
}
.PhoneInputInput {
  height: 48px;
  font-size: 16px;
  padding: 6px 11px;
  border: none;
  outline: none;
  width: 100%;
}