.PhoneInput {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 6px 10px;
  transition: border-color 0.3s;
  height: 40px;
}

.PhoneInput:hover,
.PhoneInput--focus {
  border-color: #1677ff;
}

.PhoneInputCountry {
  margin-right: 8px;
}

.PhoneInputCountrySelect {
  border: none;
  background: transparent;
}

.PhoneInputInput {
  border: none !important;
  box-shadow: none !important;
}
